.img-brewery {
  max-width: 150px;
  max-height: 150px;
}
.brewery-card {
  background: #4F5B62;
  height: fit-content;
  width: fit-content;
  padding: 0 10px 10px;
  overflow: auto;
  display: flex;
}
.img-brewery-details {
  max-width: 250px;
  max-height: 250px;
}
.btn {
  display: inline-block;
  background-color: #C5A880;
  font-size: 16px;
  text-transform: lowercase;
  font-family: 'Montagu Slab', serif;
  font-weight: bold;
  color: black;
  text-align: center;
  border-radius: 1rem;
  border-color: #532E1C;
  padding: 5px 10px;
  box-shadow: 0 3px 0px #532E1C;
  margin: 5px;
}

.btn:hover {
  background-color: #532E1C;
  color: #C5A880;
}


