.mainMenu {
  font-family: 'Montagu Slab', serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-transform: uppercase;
}
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 2;
    padding: 1rem 2rem;
    gap: 10px;
    width: max-content;
    height: max-content;
  }
  .navbar-brand {
    color: #532E1C;
    font-size: 40px;
    font-weight: bold;
  }





