.mainMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 17px 30px;
    gap: 10px;
    width: max-content;
    height: max-content;
  }
.btn {
    width: fit-content;
    height: fit-content;
    /* Text */
    background: #4F5B62;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
}





