h1 {
  font-size: larger;
}
.btn {
  /* Text */
  background: #C5A880;
  color: #532E1C;
  border-radius: 16px;
}
.buttonContainer {
  display: inline-flex;
  gap: 10px;
}
.radio-button {
  margin-right: 10px;
}

/* Existing Login CSS */
h1 {
  text-align: center;
  margin: auto;
  font-family: 'Montagu Slab', serif;
  font-weight: 400;
  font-size: 1.75rem;
}
h2 {
  text-align: left;
  margin: auto;
  font-family: 'Montagu Slab', serif;
  font-weight: 300;
  font-size: 1rem;
}

body {
  font-family:'DM Sans', sans-serif;
}
.sign-in-btn {
  background: #C5A880;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: bold;
  color: black;
  border-radius: none;
  border-color: #532E1C;
  display: inline-block;
  padding: 5px 16px;
  margin: 10px;
}
.sign-in-btn:hover {
  background-color: #532E1C;
  color: #C5A880;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
}

/* Existing Login End */

/* Registering New Account */

.register-box {
  width: auto;
  height: 125%;
}
.register-container {
  margin: auto;
  background-image: url(https://apostrophelookbooks.s3.amazonaws.com/gm_624dc2a1-9d3c-488a-8da4-459eac110003.gif);
  width: max-content;
  max-height: fit-content;
  border-style: solid;
  border-color: #532E1C;
  border-width: 3px;
  border-radius: 12px;
  padding: 30px;
}
.login-box {
  margin: auto;
  max-height: 80%;
  max-width: 80%;
}



/* Existing Login End */

/* Registering New Account */

.register-box {
  width: auto;
  height: 125%;
}
.register-container {
  margin: auto;
  background-image: url(https://apostrophelookbooks.s3.amazonaws.com/gm_624dc2a1-9d3c-488a-8da4-459eac110003.gif);
  width: max-content;
  max-height: 17rem;
  border-style: solid;
  border-color: #532E1C;
  border-width: 3px;
  border-radius: 12px;
  padding: 30px;
}

/* End of New Account */

ul {
  list-style: none;
  margin:0;
}


/*review related css*/

/*beer-card*/
.beer-card-img {
  width: 10%;
}

.review {
  flex-direction: row;
  margin: 50px;
}


.review-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cr-img {
  width: 30%;
}



