.buttonContainer {
  display: inline-flex;
  gap: 10px;
}
.radio-button {
  margin-right: 10px;
}

/* Existing Login CSS */
h1 {
  text-align: center;
  margin: auto;
  font-family: 'Montagu Slab', serif;
  font-weight: 400;
  font-size: 1.75rem;
}
h2 {
  text-align: left;
  margin: auto;
  font-family: 'Montagu Slab', serif;
  font-weight: 300;
  font-size: 1rem;
}

body {
  font-family:'DM Sans', sans-serif;
}
.sign-in-btn {
  background: #C5A880;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: bold;
  color: black;
  border-radius: none;
  border-color: #532E1C;
  display: inline-block;
  padding: 5px 16px;
  margin: 10px;
}
.sign-in-btn:hover {
  background-color: #532E1C;
  color: #C5A880;
}
.login-container {
  margin: auto;
  background-image: url(https://media.giphy.com/media/xTiTny1nYrk4cQUQ4U/giphy.gif);
  width: max-content;
  max-height: max-content;
  border-style: solid;
  border-color: #532E1C;
  border-width: 3px;
  border-radius: 12px;
  padding: 30px;
}
.login-box {
  margin: auto;
  max-height: 80%;
  max-width: 80%;
}

/* Existing Login End */

/* Registering New Account */

.register-box {
  width: auto;
  height: 125%;
}
.register-container {
  margin: auto;
  background-image: url(https://apostrophelookbooks.s3.amazonaws.com/gm_624dc2a1-9d3c-488a-8da4-459eac110003.gif);
  width: max-content;
  max-height: max-content;
  border-style: solid;
  border-color: #532E1C;
  border-width: 3px;
  border-radius: 12px;
  padding: 30px;
}

/* Registering New Account */

ul {
  list-style: none;
  margin:0;
}

/* ----- Administrative Updating/Editing ----- */
.admin-edits-head {
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bolder;
  text-transform: uppercase;
  font-weight: 500;
  color: #C5A880;
  text-decoration: none;
  }

.admin-edits-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background: #532E1C;
  border-radius: 30px;
  margin: 1rem;
  height: fit-content;
  padding: 1rem;
  overflow: auto;
}

/* Admin Beer List and Edit Info */

.beer-edits-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #532E1C;
  border-radius: 30px;
  margin: 5rem 15rem;
  height: fit-content;
  padding: 1rem;
  overflow: auto;
}

.admin-beer-list {
  display: flex;
  position: 1;
  justify-content: center;
}

.beers-list {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.beer-list-btn {
  display: flex;
  background-color: #C5A880;
  font-size: 16px;
  text-transform: lowercase;
  font-family: 'Montagu Slab', serif;
  font-weight: bold;
  color: black;
  text-align: center;
  justify-self: right;
  border-radius: 1rem;
  border-color: #532E1C;
  padding: 5px 10px;
  margin: 5px;
}

/* My Beers edit ends */

/* Add Reviews */
.write-review-container {
  display: flex;
  background: #532E1C;
  border-radius: 30px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
  justify-content: space-between;
  overflow: auto;
}

.inset-review-container {
  flex: 0 0 100%;
}

.img-beers-review {
  border-radius: 30px;
  height: 300px;
  overflow:hidden;
}
form {
  display: grid;
  align-content: center;
}
.btn-add-reviews {
  display: absolute;
  align-self: center;
  background-color: #C5A880;
  font-size: 16px;
  text-transform: lowercase;
  font-family: 'Montagu Slab', serif;
  font-weight: bold;
  max-width: min-content;
  color: black;
  text-align: center;
  border-radius: 1rem;
  border-color: #532E1C;
  padding: 5px 10px;
  box-shadow: 0 3px 0px #532E1C;
  margin: 5px;
}
