h1 {
  font-size: larger;
}
.button {
  background: #5093E2;
  color: #FFFFFF;

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;

  width: 115px;
  height: 34px;
  margin: 5 10 0 10;

  border: 1px solid #D1D5DB;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;


  /* Text */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* identical to box height, or 114% */

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.buttonContainer {
  display: inline-flex;
  gap: 10px;
}
.radio-button {
  margin-right: 10px;
}
.login-box {
  min-width: 350px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 20px;
  padding: 30px;
  row-gap: 20px;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
}
.register-box {
  min-width: 350px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 20px;
  padding: 30px;
  row-gap: 20px;
}
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  margin:0;
}

/* for breweries card */
.img-brewery {
  max-width: 150px;
  max-height: 150px;
}
.brewery-card {
  max-height: 190px;
  min-height: 190px;
  overflow: auto;
}
.img-brewery-details {
  max-width: 250px;
  max-height: 250px;
}
/* end breweries card */
/* Main Menu*/
.mainMenu {
  background-image: "https://popmenucloud.com/ijhvmzns/3cbcf79f-1811-4f2d-b5d4-17deec46fb76.jpg";
  background-color: #5093E2;
}
/* End main menu */