<<<<<<< Updated upstream
=======
:root {
  --bs-body-color: #e6e6e6;
  --bs-body-bg: #0f0f0f;
}
>>>>>>> Stashed changes
body {
  margin: 0;
  font-family: 'Merriweather', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: 'Merriweather', sans-serif;
}

